<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>



<!--
<h2>Test</h2>
  <div *ngIf="!isSignedIn">
        <input type="text" #emailSingup/>
        <input type="text" #passwordSingup/>
        <button (click)="onSignup(emailSingup.value,passwordSingup.value)">Sing up</button>
        <h2>Test</h2>
  </div>
        <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
-->

<nav>
  <a routerLink="" class="first">Login</a>
</nav>

<h1>Creaza cont:</h1>

<div class="container">
    <div class="row">
      <div class="col-4">


      </div>
      <div class="col-4">
        <form>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" #emailSingup id="emailSingup" placeholder="name@example.com">
              <label for="exampleInputEmail1" >Email address:</label>
            </div>
            <div class=" form-floating mb-3">
              <input type="password" #passwordSingup class="form-control" id="exampleInputPassword1" placeholder="Password">
              <label for="exampleInputPassword1"  >Password:</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSignup(emailSingup.value,passwordSingup.value)">Submit</button>

          </form>
      </div>
      <div class="col-4">
       <!-- <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>-->
      </div>
    </div>
  </div>

<!--
  <div class="container">
    <div class="row">
      <div class="col-4">


      </div>
      <div class="col-4">
        <form>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" [(ngModel)]="Nume"  name="first" id="emailSingup" placeholder="name@example.com">
              <label for="exampleInputEmail1" >Email address:</label>
            </div>
            <div class=" form-floating mb-3">
              <input type="text"  [(ngModel)]="Prenume" class="form-control" name="second" id="exampleInputPassword1" placeholder="Password">
              <label for="exampleInputPassword1"  >Password:</label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="CreateRecord()" >Submit2</button>

          </form>
      </div>
      <div class="col-4">
        <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
      </div>
    </div>
  </div>

-->
