*{
  margin: 0px;
  padding: 0px;
}

h1{
 color: white;
  padding-top: 50px;
  padding-bottom: 25px;
}

.meniu{
  margin: 10px;
}

body{
	background-color: #15151E;
	text-align: center;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100%;
}



  .tot{
    
  background-image: linear-gradient(to bottom right, #15151E, #3f3f5a);
	text-align: center;
  margin: auto;
  }

  .navbar{
    width: 90%;
    margin: auto;
    border-bottom: 2px;
    border-bottom-color: #3f3f5a;
    border-bottom-style: solid;
    background: none !important;
  }
  
  .navbar_1{
    width: 50%;
    margin: auto;
  }

  
  /* Extra Small Devices, Phones */ 
  @media only screen and (min-width : 480px) {
    .input{
      width: 100%;
    }
  }
  
 
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
      /* your desktop css */
      .input{
        width: 50%;
        margin: auto;
      }
  }